
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");

body {
  background-color: black;
}

.formatoCrono {
  font-family: "Orbitron", sans-serif;
  font-size: 2em;
  color: white;
}

.sombraCrono {
  text-shadow: 0 0 5px #ffb07b, 0 0 10px #a0ff7b, 0 0 20px #fb7bff,
    0 0 30px #f6ff7b, 0 0 40px #ff7b7b, 0 0 50px #7bffff, 0 0 70px #847bff,
    0 0 100px #ff7b7b;
}
